body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #619129;
  background-image: url('./assets/bg.png');
  background-size: cover; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pm-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
}

.pm-img {
  width: 650px;
  margin-top: 40px;
}

.eyes-wrapper {
  position: absolute;
  top: 110px;
  width: 175px;
}

.eyebrows-wrapper {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 250px;
  top: 35px;
}

.wallet-wrapper {
  position: absolute;
  bottom: 50px;
  left: 50px;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 20px;
  width: 450px;
  height: 250px;
  padding: 20px;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.15);
}

.payment-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.wallet-message {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
}

.wallet-message button {
  background-color: #4d4def;
  border: 1px solid white;
  color: white;
  padding: 5px 10px 5px 10px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 15px;
}

.wallet-message button:hover {
  border: 1px solid #4d4def;
  background-color: white;
  color: #4d4def;
}

.payment-wrapper button {
  background-color: transparent;
  border: none;
}

.card-img {
  max-width: 60%;
  max-height: 100%;
  object-fit: contain;
}

.card-img:hover {
  cursor: pointer;
  opacity: 0.9;
}

.screen-wrapper {
  position: absolute;
  height: 75px;
  width: 240px;
  top: 170px;
  left: 50.05%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen {
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  height: 100%;
}

.drag-area {
  position: absolute;
  top: 360px;
  left: 50%;
  transform: translateX(-63%);
  width: 230px;
  height: 200px;
  border-radius: 20%;
}

.description {
  background-color: rgba(0, 0, 0, 0.8);
  color: #6a7177;
  padding: 2px;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
}

.bottom-wrapper {
  width: 100%;
  padding-bottom: 2px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: bold;
}

.button-container {
  position: absolute;
  height: 60px;
  width: 300px;
  top: 250px;
  left: 50%;
  transform: translate(-50%);
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(220, 179, 31);
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3px;
  color: white;
}

.h-flex {
  display: flex;
  gap: 40px;
}

.v-flex {
  display: flex;
  flex-direction: column;
  gap: 1px;
  align-items: center;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  filter: drop-shadow(0 3px 0 #080808);
  border: none;
}

.button:hover {
  cursor: pointer;
}

.button:active {
  cursor: pointer;
  filter: drop-shadow(0 0px 0 #080808);
  transform: translate(0, 3px);
  clip-path: inset(0% 0 0% 0 round 3px);
}

.time {
  background-color: #4680ed;
}

.time:hover, time:active {
  background-color: #3871da;
}

.cancel {
  background-color: #ed4646;
}

.cancel:hover, cancel:active {
  background-color: #ce3e3e;
}

.ok {
  background-color: #39bb46;
}

.ok:hover, ok:active {
  background-color: #2f9c39;
}

.credit {
  background-color: rgba(255, 255, 255, 0.593);
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
  border-radius: 5px 0 0 0;
  font-size: 12px;
}

.task-dropdown {
  position: absolute;
  right: 0;
  top: 0;
  background-color: white;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  opacity: 0.95;
  cursor: pointer;
  z-index: 100;
  width: 300px;
  font-size: 16px;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.15);
}

.task-dropdown:hover {
  opacity: 1;
}

.task-header {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.task-details {
  line-height: 22px;
  border-top: 1px solid #e1e1e1;
  margin-top: 10px;
  padding-top: 10px;
  text-align: left;
}

@keyframes leftEyebrowOkayAnimation {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

@keyframes rightEyebrowOkayAnimation {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

@keyframes leftEyebrowCancelAnimation {
  0% { transform: translateY(0) rotate(0deg); }
  50% { transform: translateY(10px) rotate(-10deg); }
  100% { transform: translateY(0) rotate(0deg); }
}

@keyframes rightEyebrowCancelAnimation {
  0% { transform: translateY(0) rotate(0deg); }
  50% { transform: translateY(10px) rotate(10deg); }
  100% { transform: translateY(0) rotate(0deg); }
}

@keyframes leftEyebrowIncreaseTimeAnimation {
  0% { transform: translateY(0); }
  25% { transform: translateY(-5px); }
  50% { transform: translateY(0); }
  75% { transform: translateY(5px); }
  100% { transform: translateY(0); }
}

@keyframes rightEyebrowIncreaseTimeAnimation {
  0% { transform: translateY(0); }
  25% { transform: translateY(-5px); }
  50% { transform: translateY(0); }
  75% { transform: translateY(5px); }
  100% { transform: translateY(0); }
}

@keyframes leftEyebrowDecreaseTimeAnimation {
  0% { transform: translateY(0); }
  25% { transform: translateY(5px); }
  50% { transform: translateY(0); }
  75% { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}

@keyframes rightEyebrowDecreaseTimeAnimation {
  0% { transform: translateY(0); }
  25% { transform: translateY(5px); }
  50% { transform: translateY(0); }
  75% { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}

.left-eyebrow-okay-animate {
  animation: leftEyebrowOkayAnimation 0.5s ease-in-out;
}

.right-eyebrow-okay-animate {
  animation: rightEyebrowOkayAnimation 0.5s ease-in-out;
}

.left-eyebrow-cancel-animate {
  animation: leftEyebrowCancelAnimation 0.5s ease-in-out;
}

.right-eyebrow-cancel-animate {
  animation: rightEyebrowCancelAnimation 0.5s ease-in-out;
}

.left-eyebrow-increase-time-animate {
  animation: leftEyebrowIncreaseTimeAnimation 0.5s ease-in-out;
}

.right-eyebrow-increase-time-animate {
  animation: rightEyebrowIncreaseTimeAnimation 0.5s ease-in-out;
}


.left-eyebrow-decrease-time-animate {
  animation: leftEyebrowDecreaseTimeAnimation 0.5s ease-in-out;
}

.right-eyebrow-decrease-time-animate {
  animation: rightEyebrowDecreaseTimeAnimation 0.5s ease-in-out;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
  40% { transform: translateY(-30px); }
  60% { transform: translateY(-15px); }
}

.bounce {
  animation: bounce 1s ease-in-out;
}

@keyframes small-bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
}

.small-bounce {
  animation: small-bounce 0.3s ease-in-out;
}